{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{person.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldName">Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Name" name="fldName" value="{{person.fldName}}">
        </div>
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge" value="{{person.fldAge}}">
        </div>
        <div class="col">
            <label for="fldHeight">Height</label>
            <input id="fldHeight" type="text" class="form-control" placeholder="Height" name="fldHeight" value="{{person.fldHeight}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldLat">City Latitude</label>
            <input id="fldLat" type="text" class="form-control" placeholder="City Latitude" name="fldLat" value="{{city.fldLat}}">
        </div>
        <div class="col">
            <label for="fldlong">City Longitude</label>
            <input id="fldlong" type="text" class="form-control" placeholder="City Longitude" name="fldLong" value="{{city.fldLong}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldCapitalStatus">Capital Status</label>

            <input id="fldCapitalStatus" type="text" class="form-control" placeholder="Capital Status"
                   name="fldCapitalStatus" value="{{city.fldCapitalStatus}}">
        </div>
        <div class="col">
            <label for="fldPopulation">City Population</label>
            <input id="fldPopulation" type="text" class="form-control" placeholder="Population" name="fldPopulation" value="{{city.fldPopulation}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}