{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>

        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>

    </tr>
    </thead>
    <tbody>
    {% for person in people %}
    <tr>
        <td><a href="view/{{person.id}}">{{ person.fldName }}</a></td>
        <td>{{ person.fldAge }}</td>
        <td>{{ person.fldHeight }}</td>
        <td>{{ person.fldWeight }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}