{% extends "layout.html" %}
{% block content %}
<form action="/people/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge">
        </div>
        <div class="col">
            <label for="fldHeight">Height</label>
            <input id="fldHeight" type="text" class="form-control" placeholder="Height" name="fldHeight">
        </div>
        <div class="col">
            <label for="fldWeight">Weight</label>
            <input id="fldWeight" type="text" class="form-control" placeholder="Weight" name="fldWeight">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}